.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 100%;
}

.contentContainer {
  width: 70rem;
  height: 100%;
}

body {
  background-color: #EBEEF3!important;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}
