.tag {
  display: flex;
  gap: 1rem;
  align-items: stretch;

  input {
    width: auto !important;
  }

  button {
    width: auto !important;
    height: 2.3rem; //auto !important;
    margin: 0 !important;
  }

  .add {
    color: #1890FF;
    border-color: #1890FF;
  }
}
